<div class="grid">
    <div class="md:col-4 hidden-xs-down p-1">
        <h5 class="ml-4 mb-0" [ngClass]="{'text-blue-800': !darkMode, 'text-blue-700': darkMode}">{{'section4.title' | translate}}</h5>
        <p class="ml-5 mt-0" [ngClass]="{'text-blue-800': !darkMode, 'text-blue-700': darkMode}">{{'section4.subtitle' | translate}}</p>
    </div>
    <div class="col-12 md:col-8 p-1">
        <h5 class="ml-4 mb-0 hidden-sm-up mt-1" [ngClass]="{'text-white': !darkMode, 'text-blue-700': darkMode}">{{'section4.title' | translate}}</h5>
        <p class="ml-5 mt-0 hidden-sm-up mb-0" [ngClass]="{'text-white': !darkMode, 'text-blue-700': darkMode}">{{'section4.subtitle' | translate}}</p>

        <!-- Desktop -->
        <p-carousel class="hidden-xs-down" [value]="lastProjects" styleClass="custom-carousel" [numVisible]="3" [autoplayInterval]="6000" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-project pTemplate="item">
                <a [href]="project.link" target="_blank" class="no-underline">
                    <p-card [style]="{'min-height.px': 160}" styleClass="shadow-3 p-1 m-4 text-center">
                        <p-header>
                            <span [ngClass]="{'text-white': darkMode, 'text-blue-700': !darkMode}">{{project.name}} <i [ngClass]="project.icon"></i> </span>
                        </p-header>
                        <img [src]="'../../../assets/images/projects/' + project.img" class="company-logo border-round p-1 shadow-4 mt-2" [height]="project.imgHeight" [title]="project.title">
                        <br>
                        <small>{{project.title | titlecase }}</small>
                    </p-card>
                </a>
            </ng-template>
        </p-carousel>
        <!-- Mobile -->
        <p-carousel class="hidden-sm-up" [value]="lastProjects" styleClass="custom-carousel" [numVisible]="1" [autoplayInterval]="6000" [numScroll]="1" [showIndicators]="false" orientation="vertical" verticalViewPortHeight="240px" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-project pTemplate="item">
                <a [href]="project.link" target="_blank" class="no-underline">
                    <p-card [style]="{'min-height.px': 160}" styleClass="shadow-3 p-1 mx-4 text-center">
                        <p-header>
                            <span [ngClass]="{'text-white': darkMode, 'text-blue-700': !darkMode}">{{project.name}} <i [ngClass]="project.icon"></i> </span>
                        </p-header>
                        <img [src]="'../../../assets/images/projects/' + project.img" class="company-logo border-round p-1 shadow-4 mt-2" [height]="project.imgHeight">
                    </p-card>
                </a>
            </ng-template>
        </p-carousel>
    </div>
</div>