<section class="hero-content mt-2">
    <div class="container col-8 md:col-10 md:col-offset-1">
        <div class="grid text-col">
            <div class="col md:col-6 img-col text-right hidden-xs-down">
                <a *ngIf="!darkMode" href="https://github.com/derwing" target="_blank"><img src="../../../assets/images/git-hub.png" alt="git hub logo" width="28px"></a>
                <a *ngIf="darkMode" href="https://github.com/derwing" target="_blank"><img src="../../../assets/images/git-hub-white.png" alt="git hub logo" width="28px"></a>
                <a *ngIf="!darkMode" class="ml-2" href="https://twitter.com/derwing" target="_blank"><img src="../../../assets/images/twitter-logo.png" alt="twitter logo" width="30px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://twitter.com/derwing" target="_blank"><img src="../../../assets/images/twitter-logo-white.png" alt="twitter logo" width="30px"></a>
                <a *ngIf="!darkMode" class="ml-2" href="https://www.freecodecamp.org/certification/derwing/responsive-web-design" target="_blank"><img src="../../../assets/images/free-code-camp.png" alt="free code camp certified" width="35px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://www.freecodecamp.org/certification/derwing/responsive-web-design" target="_blank"><img src="../../../assets/images/free-code-camp-white.png" alt="free code camp certified" width="35px"></a>
                <a *ngIf="!darkMode" class="ml-2" href="https://www.linkedin.com/in/derwing/" target="_blank"><img src="../../../assets/images/linkedin-logo.png" alt="linkedin logo" width="28px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://www.linkedin.com/in/derwing/" target="_blank"><img src="../../../assets/images/linkedin-logo-white.png" alt="linkedin logo" width="28px"></a>
                <img src="../../../assets/images/manWithoutBG.png " class="img-hero " alt="profile photo " loading="lazy ">
            </div>
            <div class="col-12 md:col-6 lg:col-6 text-center text-col-info ">
                <h2 class="display-5 fw-bold lh-1 mb-3 ">Soy Derwing Medina</h2>

                <!-- Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins. -->

                <code class="text-left ">
                    <span class="text-red-400 mr-1 ">export</span> <span class="text-blue-500 mr-1 ">class</span> <span class="text-primary mr-1 ">Personality &lbrace; </span>
                    <br>
                    <ul class="text-left list-none">
                        <li *ngFor="let characteristics of filteredPersonality">
                            <span class="text-blue-400">{{characteristics[0]}}</span><span class="text-green-500 ml-1 ">{{characteristics[1]}}</span> = <span class="text-orange-500 ">{{characteristics[2]}}</span>
                        </li>
                    </ul>
                    <span class="text-primary ">&rbrace;</span>
                    <br>
                    <div class="text-left ">
                        <span class="text-blue-600 ">constructor():</span> <span class="text-primary ml-1 ">&lbrace;</span>
                        <span class="text-blue-400 ml-1 ">private:</span><span class="text-green-500 ml-1 ">theMostImportantThing:</span> Family
                        <span class="text-primary ">&rbrace;</span>
                        <br>
                        <br>
                        <span class="text-yellow-600 ">ngOnInit():</span> void <span class="text-primary ">&lbrace;</span>
                            <br>
                            <span class="text-green-800 ">// Call method life purpose.</span>
                            <br>
                            <span class="text-yellow-600 ml-3 ">this.lifePorpuse();</span>
                            <br>
                            <span class="text-primary ">&rbrace;</span>
                            <br>
                            <br>
                            <span class="text-yellow-600 ">lifePorpuse() </span> <span class="text-primary ">&lbrace;</span>
                            <br>
                            <span class="text-orange-500 ml-1 ">if</span> <span class="text-yellow-600 ml-1 ">(IAmStillAlive)</span> <span class="text-primary ml-1 ">&lbrace;</span>
                            <br>
                            <span class="text-yellow-600 ml-3 ">this.keepLearning();</span>
                            <br>
                            <span class="text-primary ml-3 ">&rbrace;</span>
                            <br>
                            <span class="text-primary ">&rbrace;</span>
                     </div>
                </code>
            </div>
        </div>
    </div>
</section>

<section class="bg-cyan-500 mt-3 border-round">
    <div class="grid justify-content-center">
        <div class="col">
            <ul class="list-none pl-1">
                <li class="mb-4">
                    <p-card class="section-whatcando">
                        <div class="grid">
                            <div class="col text-center hidden-xs-down">
                                <img src="https://cdn-icons-png.flaticon.com/512/1329/1329016.png" alt="web application" width="100px">
                            </div>
                            <div class="col-9  align-items-center">
                                <h2 class="mt-0">Web Application Programing</h2>
                                <p><span class="text-600">Stack:</span> HTML, CSS, SCSS, Bootstrap, JS, TS, Angular, PrimeNg, Material </p>
                            </div>
                        </div>
                    </p-card>
                </li>
                <li class="mb-4">
                    <p-card class="section-whatcando">
                        <div class="grid">
                            <div class="col text-center hidden-xs-down">
                                <img src="https://cdn-icons-png.flaticon.com/512/2645/2645725.png" alt="web application" width="100px">
                            </div>
                            <div class="col-9 align-items-center">
                                <h2 class="mt-0">Mobile Application Programing</h2>
                                <p><span class="text-600">Stack:</span> Ionic with Angular, Dart/Flutter </p>
                            </div>
                        </div>
                    </p-card>
                </li>
                <li class="mb-4">
                    <p-card class="section-whatcando">
                        <div class="grid">
                            <div class="col text-center hidden-xs-down">
                                <img src="https://cdn-icons-png.flaticon.com/512/6119/6119533.png" alt="web application" width="100px">
                            </div>
                            <div class="col-9 align-items-center">
                                <h2 class="mt-0">IoT Programing</h2>
                                <p><span class="text-600">Stack:</span> Dart/Flutter </p>
                            </div>
                        </div>
                    </p-card>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="justify-content-center text-center">
                <h2>What Can I Do For You?</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione autem totam ad excepturi reprehenderit provident amet quis itaque? Dolores est sequi nesciunt quam sunt ea ipsam. Id debitis recusandae iure?</p>
            </div>
        </div>
        <!-- <div class=" flex justify-content-start flex-wrap card-container blue-container ">
            <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white border-round m-2 ">
                <i class="pi pi-fw pi-github "></i>
                <h2>Lo que sea</h2>
                p

            </div>
            <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2 ">2</div>
            <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-blue-500 font-bold text-white border-round m-2 ">3</div>
            <div class="col ">
                <h2>What Do I Help?</h2>
            </div>
        </div> -->
    </div>
</section>
<section class="surface-ground border-round mt-1">
    <h2 class="text-center pt-2">Work Experience</h2>
    <div class="card">
        <p-timeline [value]="events1" align="alternate" styleClass="customized-timeline">
            <ng-template pTemplate="marker" let-event>
                <span class="custom-marker p-shadow-2" [style.backgroundColor]="event.color">
                    <i [ngClass]="event.icon"></i>
                </span>
            </ng-template>
            <ng-template pTemplate="content" let-event>
                <div class="content-card">
                    <img [src]="'../../../assets/images/' + event.img" [width]="event.imgWidth" class="company-logo border-round p-1" [width]="100">
                    <br>
                    <small class="text-color-secondary">{{event.name}}</small>
                    <br>
                    <small>{{event.date}}</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
                    <button pButton label="Read more" class="p-button-text"></button>
                </div>
            </ng-template>
        </p-timeline>
    </div>
</section>

<section class="bg-cyan-500 mt-3 border-round mb-6">
    <div class="grid">
        <div class="md:col-4 hidden-xs-down">
            <h5 class="ml-4 mb-0">My Lates Works</h5>
            <p class="ml-5 mt-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore porro perspiciatis repudiandae fugit quaerat laborum accusamus eveniet illum fuga, veritatis expedita eius, tenetur quas doloremque impedit! Accusamus consequatur nulla quas.</p>
        </div>
        <div class="col-12 md:col-8">
            <h5 class="ml-4 mb-0 hidden-sm-up">My Lates Works</h5>
            <p class="ml-5 mt-0 hidden-sm-up">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

            <!-- [autoplayInterval]="3000" -->
            <p-carousel [value]="lastworks" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-works pTemplate="item">
                    <p-card [style]="{'min-height.px': 160}" styleClass="shadow-3 p-1 m-4">
                        <p-header>
                            <span class="text-blue-700">{{works.name}}</span>
                        </p-header>
                        <img [src]="'../../../assets/images/' + works.img" class="company-logo border-round p-1 shadow-4" [height]="works.imgHeight" [ngStyle]="{'transform': 'rotate(-20deg)'}">
                    </p-card>
                </ng-template>
            </p-carousel>

        </div>
    </div>
</section>
<section class="surface-ground border-round">
    <div class="grid justify-content-center">
        <div class="col-12 md:col-2">
            <h5 class="ml-4 mb-0">Other Recomendations</h5>
            <div class="col">
                <ul class="list-none">
                    <li class="mb-2">
                        <a href="http://" class="no-underline">
                            <img class="vertical-align-bottom" src="../../../assets/images/workana.png" alt="web application" width="25px"> Workana
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="http://" class="no-underline">
                            <img class="vertical-align-bottom" src="../../../assets/images/linkedin-logo.png" alt="web application" width="25px"> Linkedin
                        </a>
                    </li>
                    <li>
                        <a href="https://es.stackoverflow.com/help/badges?tab=General&filter=earned" class="no-underline">
                            <img class="vertical-align-bottom" src="../../../assets/images/stackOverflow.png" alt="web application" width="25px"> StackOF
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 md:col-10">
            <!-- [autoplayInterval]="3000" -->
            <p-carousel [value]="recomendations" styleClass="custom-carousel" [autoplayInterval]="3000" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
                <ng-template let-recomendation pTemplate="item">
                    <p-card [style]="{'min-height.px': 160}" styleClass="shadow-3 p-1 m-4">
                        <p-header>
                            <p-avatar [image]="'../../../assets/images/' + recomendation.img" shape="circle" class="avatar" size="xlarge"></p-avatar>
                        </p-header>
                        <p class="text-blue-700 avatar-name mb-0">{{recomendation.name}}</p>
                        <small class="avatar-charge text-color-secondary">{{recomendation.charge}}</small>
                        <p class="review-text mt-1">{{recomendation.review}}</p>
                        <!-- <img [src]="'../../../assets/images/' + works.img" class="company-logo border-round p-1 shadow-4" [height]="works.imgHeight" [ngStyle]="{'transform': 'rotate(-20deg)'}"> -->
                    </p-card>
                </ng-template>
            </p-carousel>

        </div>
    </div>

</section>

<footer>
    <hr>
    <span><span class="copy-left">©</span> Copyleft 2022 Derwing Medina - Licence Creative Commons</span>
</footer>