<section class="hero-content mt-2 mb-3" id="section1">
    <div class="container col-8 md:col-10 md:col-offset-1">
        <div class="grid text-col">
            <div class="col md:col-6 img-col text-right hidden-xs-down">
                <a *ngIf="!darkMode" href="https://github.com/derwing" target="_blank"><img
                        src="../../../assets/images/git-hub.png" alt="git hub logo" width="28px"></a>
                <a *ngIf="darkMode" href="https://github.com/derwing" target="_blank"><img
                        src="../../../assets/images/git-hub-white.png" alt="git hub logo" width="28px"></a>
                <a *ngIf="!darkMode" class="ml-2" href="https://twitter.com/derwing" target="_blank"><img
                        src="../../../assets/images/twitter-logo.png" alt="twitter logo" width="30px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://twitter.com/derwing" target="_blank"><img
                        src="../../../assets/images/twitter-logo-white.png" alt="twitter logo" width="30px"></a>
                <!-- <a *ngIf="!darkMode" class="ml-2" href="https://www.freecodecamp.org/certification/derwing/responsive-web-design" target="_blank"><img src="../../../assets/images/free-code-camp.png" alt="free code camp certified" width="35px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://www.freecodecamp.org/certification/derwing/responsive-web-design" target="_blank"><img src="../../../assets/images/free-code-camp-white.png" alt="free code camp certified" width="35px"></a> -->
                <a *ngIf="!darkMode" class="ml-2" href="https://www.linkedin.com/in/derwing/" target="_blank"><img
                        src="../../../assets/images/linkedin-logo.png" alt="linkedin logo" width="28px"></a>
                <a *ngIf="darkMode" class="ml-2" href="https://www.linkedin.com/in/derwing/" target="_blank"><img
                        src="../../../assets/images/linkedin-logo-white.png" alt="linkedin logo" width="28px"></a>
                <br>
                <img src="../../../assets/images/angular-wbg.png" class="img-hero " alt="profile photo " loading="lazy">
            </div>
            <div class="col-12 md:col-6 lg:col-6 text-center text-col-info ">
                <h2 class="display-5 fw-bold lh-1 mb-3 ">{{'home.hero-section.iam' | translate }} Derwing Medina</h2>

                <!-- Quickly design and customize responsive mobile-first sites with Bootstrap, the world's most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins. -->

                <code class="text-left ">
                    <span class="text-red-400 mr-1 ">export</span> <span class="text-blue-500 mr-1 ">class</span> <span class="text-primary mr-1 ">{{'home.hero-section.personality' | translate}} &lbrace; </span>
                    <br>
                    <ul class="text-left list-none">
                        <li *ngFor="let characteristics of filteredPersonality">
                            <span class="text-blue-400">{{characteristics[0]}}</span><span class="text-green-500 ml-1 ">{{characteristics[1]}}</span> = <span class="text-orange-500 ">{{characteristics[2]}}</span>
                        </li>
                    </ul>
                    <span class="text-primary ">&rbrace;</span>
                    <br>
                    <div class="text-left ">
                        <span class="text-blue-600 ">constructor():</span> <span class="text-primary ml-1 ">&lbrace;</span>
                        <span class="text-blue-400 ml-1 ">private:</span><span class="text-green-500 ml-1 ">{{'home.hero-section.most-important' | translate }}</span> {{'home.hero-section.family' | translate}}
                        <span class="text-primary ">&rbrace;</span>
                        <br>
                        <br>
                        <span class="text-yellow-600 ">ngOnInit():</span> void <span class="text-primary ">&lbrace;</span>
                            <br>
                            <span class="text-green-800 ">{{'home.hero-section.call-method' | translate}}</span>
                            <br>
                            <span class="text-yellow-600 ml-3 ">this.lifePorpuse();</span>
                            <br>
                            <span class="text-primary ">&rbrace;</span>
                            <br>
                            <br>
                            <span class="text-yellow-600 ">lifePorpuse() </span> <span class="text-primary ">&lbrace;</span>
                            <br>
                            <span class="text-orange-500 ml-1 ">if</span> <span class="text-yellow-600 ml-1 ">(IAmStillAlive)</span> <span class="text-primary ml-1 ">&lbrace;</span>
                            <br>
                            <span class="text-yellow-600 ml-3 ">this.keepLearning();</span>
                            <br>
                            <span class="text-primary ml-3 ">&rbrace;</span>
                            <br>
                            <span class="text-primary ">&rbrace;</span>
                     </div>
                </code>
            </div>
        </div>
    </div>
</section>

<section class="bg-cyan-500 mb-3 border-round" id="section2">
    <app-work-areas></app-work-areas>
</section>
<section class="surface-ground border-round mb-3" id="section3">
    <app-work-experience></app-work-experience>
</section>

<section class="bg-indigo-200 mt-3 border-round mb-3" id="section4">
    <app-latest-projects></app-latest-projects>
</section>

<section class="bg-cyan-500 mt-3 border-round mb-3" id="section5">
    <app-latest-courses></app-latest-courses>
</section>
<section class="surface-ground border-round" id="section6">
    <app-recomendations></app-recomendations>
    <!-- these recommendations are shown in random order -->
</section>

<section class="bg-indigo-200 border-round mt-3 mb-3" id="section7">
    <div class="container py-4">
        <h3 class="text-center mb-3">{{'home.presentations.title' | translate}} <i class="pi pi-video"></i></h3>
        <p class="text-center mb-3">{{'home.presentation' | translate}}</p>
        <div class="grid justify-content-center">
            <div class="col-12 md:col-5 text-center">
                <a href="https://www.youtube.com/watch?v=ZVKmNJpmAZI" target="_blank" class="no-underline">
                    <div class="flex align-items-center justify-content-center">
                        <i class="fab fa-youtube text-red-600 text-2xl mr-2"></i>
                        <span class="text-900">{{'home.presentations.iesa-presentation' | translate}}</span>
                    </div>
                </a>
            </div>
            <div class="col-12 md:col-5 text-center">
                <a href="https://www.youtube.com/watch?v=NXbJOZAfbZE" target="_blank" class="no-underline">
                    <div class="flex align-items-center justify-content-center">
                        <i class="fab fa-youtube text-red-600 text-2xl mr-2"></i>
                        <span class="text-900">{{'home.presentations.cuidatos-presentation' | translate}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- <section id="section7" class="bg-indigo-200 border-round language-section">

</section> -->

<!-- // TODO: Reactivate this section -->
<!-- <section id="section8" class="bg-cyan-500 border-round setup section mt-3" *ngIf="!adBlocker"> -->
<!-- I want to use this section for sale productos, right now I only show my setup products -->
<!-- this section is only displayed if the user does not have an ad blocker. -->
<!-- <app-products></app-products> -->

<!-- </section> -->

<!-- <section class="blog-section">
    https://derwing.hashnode.dev/
</section> -->

<footer>
    <hr>
    <span>
        <span class="copy-left ml-3">©</span>Copyleft 2022 Derwing Medina - Licence Creative Commons -
        <span>{{'footer.create-using' | translate }}</span>
        <i class="fa-brands fa-angular" title="Angular"></i>
        <i class="ml-1 pi pi-prime text-gray-700" title="PrimeNG"></i>
        <img class="ml-1" src="../../../assets/images/typescript-logo.svg" alt="typescript-logo" height="15px"
            title="TypeScript">
    </span>
</footer>

<!-- TODO: Actualizar versión de Angular -->