// Hero section
.img-col {
    // <a href='https://pngtree.com/so/download'>download png from pngtree.com/</a>
    background-image: url('../../../assets/images/background-hero1.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 80px;
}

.text-col {
    // <a href='https://pngtree.com/so/download'>download png from pngtree.com/</a>
    background-image: url('../../../assets/images/background-hero2.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom-right-radius: 80px;
}

.img-hero {
    width: 320px;
    height: 495px;
}

// section 2
.text-webkit {
    text-align: -webkit-center;
}

.img-card {
    width: 50%;
    margin: 10% 0;
}

.card-button {
    width: 100%!important;
}

.icon-color {
    color: yellow;
}

// FlipCard
.flip-card-inner {
    background: linear-gradient(46deg, rgba(153, 41, 190, 0.0844712885154062) 25%, rgba(240, 250, 243, 1) 89%, rgba(39, 210, 245, 0.12088585434173671) 100%);
    // color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 34px;
}

.flip-card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    cursor: pointer;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    color: black;
}


/* Style the back side */

.flip-card-back {
    transform: rotateY(180deg);
}

@media (min-width: 1600px) {
    .container {
        background-size: auto;
    }
    .img-hero {
        width: 440px;
        height: 525px;
    }
}

@media (max-width: 768px) {
    .hero-content {
        // <a href='https://pngtree.com/so/download'>download png from pngtree.com/</a>
        // background-image: url('../../../assets/images/background2Mobile.png');
        background-position: right;
        background-repeat: no-repeat;
        // background-size: cover;
        border-top-left-radius: 80px;
        border-bottom-right-radius: 80px;
        margin: 0 2px;
        background: rgba(51, 170, 153, .1)/*  10% opaque green */
        ;
    }
    .text-col {
        background-image: none;
    }
    .text-col-info {
        margin-left: 1.5rem;
    }
    .media-title,
    p {
        margin: 0;
    }
    .col-4 {
        max-height: 70px;
    }
    .flip-card {
        width: 100px;
        height: 70px;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
        font-size: 0.65rem;
    }
}