/* You can add global styles to this file, and also import other style files */

body {
    background: rgb(153, 41, 190);
    background: linear-gradient(46deg, rgba(153, 41, 190, 0.0844712885154062) 25%, rgba(240, 250, 243, 1) 89%, rgba(39, 210, 245, 0.12088585434173671) 100%);
    font-family: 'Sono', sans-serif;
}

.pointer {
    cursor: pointer;
}

img {
    width: "40px";
    height: "495px";
}

// MenuBar PrimeNG Style Overwritting
.p-menubar {
    background: none!important;
    border: none!important;
}

.fa-angular {
    color: red!important;
}

// dark-mode
body.dark-mode {
    background: linear-gradient(89deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    .flip-card {
        background: linear-gradient(89deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
        color: white;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
        border-radius: 34px;
    }
}

.section-whatcando>.p-card,
.p-card-body,
.p-card-content {
    padding: 0 5px!important;
}

// products section
.setup-img img {
    border-radius: 3rem;
    -moz-border-radius: 3rem;
    -webkit-border-radius: 3rem;
    margin-top: 25%;
}

.p-image-preview-indicator {
    top: 70px!important;
    height: 84%!important;
    border-radius: 3rem;
}

// Recomendation dialog
.recomendationDialog .p-dialog {
    max-width: 70%!important;
}

// Global Media Querys
@media (max-width: 575px) {
    body {
        background: linear-gradient(89deg, rgba(153, 41, 190, 0.0844712885154062) 25%, rgba(240, 250, 243, 1) 89%, rgba(39, 210, 245, 0.12088585434173671) 100%);
    }
    .hidden-xs-down {
        display: none !important;
    }
    // dark-mode
    .body.darkmode {
        background: linear-gradient(89deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    }
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1600px) {
    .container {
        background-size: auto;
    }
    .img-hero {
        width: 440px;
        height: 525px;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}

.hidden-xl-down {
    display: none !important;
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}