<div class="grid justify-content-center work-category-grid">
    <div class="col ">
        <ul class="list-none pl-1">
            <li class="mb-4 li-work-categories">
                <p-card class="section-whatcando">
                    <div class="grid">
                        <div class="col text-center hidden-xs-down">
                            <img src="https://cdn-icons-png.flaticon.com/512/1329/1329016.png" alt="web application icon" width="100px">
                        </div>
                        <div class="col-9  align-items-center">
                            <h2 class="mt-0">{{'section2.web-app-programming' | translate}}</h2>
                            <p><span class="text-600">{{'section2.stack' | translate}}</span> HTML, CSS, SCSS, Bootstrap, JS, TS, Angular, Ionic, PrimeNg, Material </p>
                        </div>
                    </div>
                </p-card>
            </li>
            <li class="mb-4 li-work-categories">
                <p-card class="section-whatcando">
                    <div class="grid">
                        <div class="col text-center hidden-xs-down">
                            <img src="https://cdn-icons-png.flaticon.com/512/2645/2645725.png" alt="Mobile developer icon" width="100px">
                        </div>
                        <div class="col-9 align-items-center">
                            <h2 class="mt-0">{{'section2.mobile-app-programming' | translate}}</h2>
                            <p><span class="text-600">{{'section2.stack' | translate}}</span> Ionic with Angular, Dart/Flutter </p>
                        </div>
                    </div>
                </p-card>
            </li>
            <li class="mb-4 li-work-categories">
                <p-card class="section-whatcando">
                    <div class="grid">
                        <div class="col text-center hidden-xs-down">
                            <img src="https://cdn-icons-png.flaticon.com/512/6119/6119533.png" alt="IOT developer icon" width="100px">
                        </div>
                        <div class="col-9 align-items-center">
                            <h2 class="mt-0">{{'section2.iot-programming' | translate}}</h2>
                            <p><span class="text-600">{{'section2.stack' | translate}}</span> Dart/Flutter </p>
                        </div>
                    </div>
                </p-card>
            </li>
            <li class="mb-4 li-work-categories">
                <p-card class="section-whatcando">
                    <div class="grid">
                        <div class="col text-center hidden-xs-down">
                            <img src="https://cdn-icons-png.flaticon.com/512/5687/5687273.png" alt="Dev Ops Icon" width="100px">
                        </div>
                        <div class="col-9 align-items-center">
                            <h2 class="mt-0">{{'section2.devops' | translate}}</h2>
                            <p><span class="text-600">{{'section2.stack' | translate}}</span> Linux, Windows, Cloud, Confluence, Jira, GitHub, Kubernetes</p>
                        </div>
                    </div>
                </p-card>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="justify-content-center text-center">
            <h2>{{'section2.title' | translate }}</h2>
            <p class="px-5">{{'section2.subtitle' | translate}}</p>
        </div>
    </div>
</div>